@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/typography.css";

html,
body {
  overflow-x: hidden;
}

h1,
h3 {
  font-family: "Prime Regular";
}

h2 {
  font-family: "Prime Light";
}
